@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateLeft90 {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  99% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 90deg);
    visibility: hidden;
  }
}

.phase-out {
  animation-name: rotateLeft90;
  animation-duration: 3s;
  /* animation-fill-mode: forwards; */
  /* animation-iteration-count: infinite; */
  
}
