@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotateLeft90 {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 90deg);
  }
}

.phase-out {
  animation-name: rotateLeft90;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
